.button {
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	width: rem(292);
	height: rem(60);

	background-image: linear-gradient(90.58deg, #db00ff 1.86%, #9e00ff 99.71%);
	border-radius: 50px;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	transition: all 0.3s ease 0s;

	&:active {
		transform: translateY(3px);
	}

	p {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		display: flex;
		align-items: center;
		text-align: center;

		color: #ffffff;
	}

	&._hold {
		opacity: 0.5;
		pointer-events: none;
	}
}
//========================================================================================================================================================
.preloader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	background-image: url("@img/other/bg-pre.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	width: 100%;
	min-height: 100vh;

	overflow: hidden;

	transition: all 0.3s ease 0s;

	&__block-acces {
	}

	&__acces {
	}

	&__button-box {
		position: absolute;
		bottom: rem(100);
		left: 50%;

		transform: translateX(-50%);
		z-index: 5;
	}

	// .preloader__button

	&__button {
		position: relative;
		top: 10px;
		z-index: 3;
	}
	&._hide {
		top: -20%;
		opacity: 0;
		visibility: hidden;
	}
}
.acces-preloader {
	position: relative;
	z-index: 4;

	display: flex;
	flex-direction: column;
	max-height: 100vh;
	max-width: 100vw;
	padding-block: rem(40) rem(150);
	padding-inline: rem(25);

	overflow: auto;

	&._hide {
		display: none;
	}

	&__title {
		@include adaptiveValue("font-size", 32, 30, 400, 320, 1);

		line-height: math.div(39, 32);
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.89);

		text-align: left;

		color: #ffffff;
		padding-bottom: rem(40);
	}

	// .acces-preloader__text

	&__text {
		padding-bottom: rem(12);
	}

	&__link {
		color: #ebff00;
	}
}

.text-pre {
	font-weight: 300;
	@include adaptiveValue("font-size", 16, 14, 800, 550, 1);
	line-height: math.div(23, 16);

	color: #ffffff;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	&__title {
		text-transform: uppercase;
	}
}

.score {
	&._no-money {
		animation: no-money 0.7s ease 2;
	}
	&._delete-money {
		animation: delete-money 0.7s ease;
	}
	&._anim-add-money {
		animation: add-money 0.5s ease 3;
	}
}

.icon-anim {
	img {
		&._anim-icon-jump {
			animation: jump_icon 5s ease;
		}
		&._anim-icon-scale {
			animation: scale_icon 0.5s ease 2;
		}
		&._anim-icon-rotate {
			animation: rotate_icon 1.5s ease-out 1;
		}
		&._anim-icon-rotate-2 {
			animation: rotate_icon-2 1.5s ease 1;
		}
	}
}

.btn-bg {
	position: relative;
	width: 179px;
	height: 36px;
	background-image: linear-gradient(180deg, #0e0216 0%, #240437 100%);
	border-radius: 27.5px;
}

//========================================================================================================================================================
