//====================================================================================================
.main {
	// .main__body

	&__body {
		position: relative;
		&._about {
			.main__lobby {
				transform: translateY(-150%);
			}
			.main__backgrounds {
				transition-delay: 0.2s;
				transform: translateY(-150%);
			}
			.about-main {
				transform: translateY(0);
			}
			.main__btn-back {
				transform: translateX(0);
			}
		}
	}
	&__btn-back {
		position: absolute;
		width: rem(36);
		height: rem(36);

		top: 25px;
		left: 25px;
		z-index: 5;

		transform: translateX(-150px);

		transition: transform 0.6s ease 0s;
		&._about-lobby {
			&::before,
			&::after {
				opacity: 0;
				visibility: hidden;
			}
			span {
				opacity: 1;
				visibility: visible;
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 11px;
			height: 18px;
			z-index: 5;

			background-image: url("@img/icons/arrow.svg");
			background-position: center;
			background-size: 12px 20px;
			background-repeat: no-repeat;

			filter: drop-shadow(0px 1px 1px rgba(132, 0, 214, 0.71));

			transition: all 0.3s ease 0s;
		}
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			border-radius: 50%;

			background-image: radial-gradient(74.86% 81.94% at 44.44% 13.89%, #ffffff 0%, #f0cdfc 100%);
			box-shadow: 0px 0px 0px 1px #300351, 0px 1px 0px 1px #bb5bed, inset 0px -2px 1px rgba(255, 255, 255, 0.5),
				inset 0px -3px 4px #d393e8;

			transition: all 0.3s ease 0s;
		}
		span {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);

			display: flex;
			justify-content: center;
			align-items: center;

			width: rem(147);
			height: rem(47);

			background-image: linear-gradient(180deg, #fcfdfb 0%, #bcb1c6 100%);
			box-shadow: 0px 4px 0px #796d7c, 0px 6px 0px 2px #27013f, inset 0px 6px 3px rgba(255, 255, 255, 0.77);
			border-radius: 40px;

			font-weight: 900;
			font-size: 16px;
			line-height: 19px;
			text-transform: uppercase;

			color: #321448;
			opacity: 0;
			visibility: hidden;

			transition: all 0.3s ease 0s;
		}
	}
	&__content {
		position: relative;
		min-height: 100vh;
	}

	&__lobby {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;

		padding-top: 200px;

		transition: transform 0.6s ease 0s;

		@media (max-height: em(700)) {
			padding-top: 160px;
		}
	}

	&__cards {
		margin-bottom: rem(5);
		@media (min-height: em(750)) {
			margin-bottom: rem(20);
		}
	}

	&__card-box {
	}

	&__card {
		position: relative;

		max-width: rem(240);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		@media (max-height: em(750)) {
			max-width: rem(210);
		}
		@media (max-height: em(650)) {
			max-width: rem(190);
		}

		img {
			width: 100%;
			._disabled & {
				opacity: 0.6;
			}
		}
		._disabled & {
			pointer-events: none;
		}
	}

	&__image {
		position: relative;
		display: block;

		._disabled & {
			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1;

				background-image: url("@img/icons/lock.svg");
				background-position: center;
				background-size: 66px 87px;
				background-repeat: no-repeat;

				filter: drop-shadow(0px 9px 0px #cd7b00);
			}
		}
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: rem(15);
	}
	&__button {
		width: rem(208);
		height: rem(42);

		background-image: linear-gradient(90.58deg, #db00ff 1.86%, #9e00ff 99.71%);
		border-radius: 50px;

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		transition: transform 0.3s ease 0s;

		p {
			font-weight: 500;
			font-size: rem(16);
			line-height: math.div(19, 16);

			color: #ffffff;
		}

		&:active {
			transform: translateY(2px);
		}
	}

	&__backgrounds {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: transform 0.6s ease 0s;
	}

	&__title-logo {
		position: absolute;
		top: rem(40);
		left: 50%;
		transform: translateX(-50%);
		width: rem(300);
		@media (max-height: em(750)) {
			top: 10px;
		}

		img {
			width: 100%;
			filter: drop-shadow(0px 4px 55px rgba(255, 184, 0, 0.99));
		}
		p {
			font-weight: 700;
			font-size: 20px;
			line-height: math.div(24, 20);
			text-transform: uppercase;

			background: linear-gradient(136.39deg, #fff7ed 2.56%, #ffffff 96.67%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			text-align: center;
			filter: drop-shadow(0px 3px 0px rgba(50, 0, 132, 0.25));
		}
	}

	// .main__about

	&__about {
	}
}

.about-main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(150%);

	transition: transform 0.6s ease 0s;
	// .about-main__body

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;

		&._info {
			.about-main__slider-box {
				transform: scale(0);
			}
			&_1 {
				.about-main__info_1 {
					transform: translateX(0);
				}
			}
			&_2 {
				.about-main__info_2 {
					transform: translateX(0);
				}
			}
			&_3 {
				.about-main__info_3 {
					transform: translateX(0);
				}
			}
		}
	}

	&__title-box {
		position: absolute;
		top: -150px;
		left: 50%;
		transform: translateX(-50%);
	}

	&__title {
		font-weight: 900;
		@include adaptiveValue("font-size", 48, 40, 380, 320, 1);
		line-height: math.div(58, 48);
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		&_1 {
			background-image: linear-gradient(
				180deg,
				#faeed5 25.52%,
				#fefbe8 48.24%,
				#fee87f 49.31%,
				#f8da34 64.35%,
				#fedb19 77.08%
			);
			-webkit-text-stroke: 3px #a40001;

			filter: drop-shadow(0px 7px 0px #851313);
		}
		&_2 {
			background-image: linear-gradient(180deg, #ffffff 25.52%, #aeccf9 77.08%);
			// text-shadow: 0px 3px 0px #276EEF, 0px 9px 5px #1E0736;

			filter: drop-shadow(0px 3px 0px #276eef);
		}
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	// .about-main__slider-box

	&__slider-box {
		position: relative;
		z-index: 3;
		transition: transform 0.6s ease 0s;
		@media (max-height: em(750)) {
			margin-top: rem(70);
		}
		@media (max-height: em(700)) {
			margin-top: rem(100);
		}
		@media (max-height: em(650)) {
			margin-top: rem(130);
		}
	}

	// .about-main__slider

	&__slider {
		overflow: initial !important;
	}

	// .about-main__wrapper

	&__wrapper {
	}

	// .about-main__slide

	&__slide {
	}

	// .about-main__image

	&__image {
		position: relative;
		max-width: rem(268);
		img {
			width: 100%;
		}
	}

	&__icon {
		position: absolute;
		bottom: rem(20);
		left: 50%;
		transform: translateX(-50%);
		&_1 {
			width: 190px;
		}
		&_3 {
			width: 155px;
		}
		img {
			width: 100%;
		}
	}

	&__pagination {
		position: relative;
		top: 80px;
		@media (max-height: em(750)) {
			top: 50px;
		}
		@media (max-height: em(700)) {
			top: 20px;
		}
	}

	// .about-main__content

	&__content {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	// .about-main__info

	&__info {
		position: absolute;
		top: 90px;
		left: 0;
		width: 100%;
		height: 100%;

		transform: translateX(150%);

		transition: transform 0.6s ease 0s;
		// .about-main__info_1

		&_1 {
		}
	}

	// .about-main__text

	&__text {
		display: grid;

		font-weight: 500;
		font-size: 16px;
		line-height: math.div(29, 20);
		text-align: center;
		@media (min-width: em(700)) and (min-height: em(700)) {
			font-size: rem(36);
		}

		color: #ffffff;

		padding: 32px 10px 0 10px;
		P {
			&:first-child {
				justify-self: center;
				padding-right: 15px;
				padding-bottom: 20px;
			}
			&:nth-child(2) {
				font-size: 16px;
				line-height: math.div(23, 16);
				@media (min-width: em(700)) and (min-height: em(700)) {
					font-size: rem(26);
				}
				padding-bottom: 50px;
			}
		}
		span {
			text-decoration: underline;
		}
	}

	// .about-main__image

	&__cont-image {
		margin-inline: auto;
		&_1 {
			width: 150px;
			@media (min-width: em(700)) and (min-height: em(700)) {
				width: 250px;
			}
		}
		&_2 {
			width: 150px;
			@media (min-width: em(700)) and (min-height: em(700)) {
				width: 250px;
			}
		}
		&_3 {
			width: 100px;
			@media (min-width: em(700)) and (min-height: em(700)) {
				width: 200px;
			}
		}
		img {
			width: 100%;
		}
	}
}

.swiper-pagination-bullets {
	display: flex;
	justify-content: center;
	column-gap: rem(35);
	margin-block: rem(25);
	@media (max-height: em(750)) {
		margin-block: rem(5);
	}
}
.swiper-pagination-bullet {
	display: block;
	width: rem(14);
	height: rem(14);

	background-color: rgba(255, 255, 255, 0.22);
	border: 1px solid #ffffff;
	border-radius: 50%;
	transition: background-color 0.6s ease 0s;
}
.swiper-pagination-bullet-active {
	background-color: #ffd600;
}

.score-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	// .score-box__body

	&__body {
		position: relative;
		display: grid;
		justify-items: center;
		align-items: center;
		min-height: 100%;
	}

	&__icon-box {
	}

	// .score-box__icon

	&__icon {
		position: absolute;
		top: 3px;
		left: 5px;
		width: 32px;
		img {
			width: 100%;
		}
	}

	// .score-box__score

	&__score-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	&__score {
	}

	&__title {
		position: absolute;
		top: -30px;
		left: 0;

		font-size: 16px;
		line-height: math.div(19, 16);

		color: #ffffff;
	}
}

.win-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	transform: translateY(-50px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.7s ease 0s;
	&._visible {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	// .win-box__body

	&__body {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 30px;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
	}

	// .win-box__status

	&__status {
		position: relative;
		p {
			font-weight: 900;
			@include adaptiveValue("font-size", 64, 46, 400, 320, 1);
			line-height: math.div(77, 64);
			white-space: nowrap;

			letter-spacing: 0.05em;
			text-transform: uppercase;

			background-image: linear-gradient(
				180deg,
				#faeed5 25.52%,
				#fefbe8 48.24%,
				#fee87f 49.31%,
				#f8da34 64.35%,
				#fedb19 77.08%
			);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			-webkit-text-stroke: 2px #a40001;
			filter: drop-shadow(0px 7px 0px #851313);
		}
	}

	// .win-box__item

	&__item {
		position: relative;
		width: 90%;
		height: 90px;
	}

	&__money-box {
		position: relative;
		z-index: 2;
		display: grid;
		grid-template-columns: 1fr 2fr;
		align-items: center;
		width: 100%;
		height: 100%;

		background-image: url("@img/game-1/frame-win.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	// .win-box__icon

	&__icon {
		justify-self: flex-end;
		img {
			@include adaptiveValue("width", 60, 40, 400, 320, 1);
		}
	}

	// .win-box__money

	&__money {
		padding-left: 45px;
		font-weight: 700;
		font-size: 36px;
		line-height: 44px;

		color: #ffffff;
	}

	&__coin {
		position: absolute;
		&_1 {
			top: -55px;
			left: 0;
			width: 55px;
			transform: rotate(75deg);
		}
		&_2 {
			top: -65px;
			right: 0;
			width: 40px;
			transform: rotate(-120deg);
		}
		&_3 {
			bottom: -30px;
			left: 0;
			width: 35px;
			transform: rotate(-105deg);
		}
		&_4 {
			bottom: -50px;
			right: 0;
			width: 50px;
			transform: rotate(120deg);
		}
		img {
			width: 100%;
		}
	}

	&__button-box {
		position: absolute;
		top: 60px;
		left: 50%;
		transform: translateX(-50%);
		width: 250px;
		height: 74px;
		z-index: 1;

		display: flex;
		justify-content: center;
		align-items: center;

		background-image: linear-gradient(180deg, #873e3e 0%, #702c2c 100%);
		border: 1px solid #461d54;
		box-shadow: inset 0px -3px 4px #9874c5;
		border-radius: 9px;
	}

	&__button {
		position: relative;
		width: 141px;
		height: 38px;

		background-image: linear-gradient(180deg, #cb0a0a 0%, #6b0000 100%);
		border: 1px solid #cb0d0d;
		box-shadow: 0px 2px 0px #530303, 0px 5px 4px rgba(0, 0, 0, 0.25);
		border-radius: 4px;
		&::before {
			content: "";
			position: absolute;
			top: 5px;
			left: 50%;
			transform: translateX(-50%);

			width: 125px;
			height: 17px;

			background: rgba(255, 255, 255, 0.17);
			border-radius: 3px;
		}
		p {
			font-weight: 900;
			font-size: 15px;
			line-height: 18px;
			letter-spacing: 0.05em;

			color: #ffffff;
		}
	}
}

.text {
	@include adaptiveValue("font-size", 20, 16, 800, 550, 1);
	line-height: math.div(28, 20);

	color: #ffffff;

	&._txt-small {
		font-size: rem(10);
	}
	&._txt-middle {
		font-size: rem(12);
	}
}

.header-slot {
	// .header-slot__body

	&__body {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
		width: 100%;
		height: rem(65);

		display: flex;
		justify-content: space-between;
		align-items: center;

		padding-inline: 23px 15px;

		background-image: linear-gradient(180deg, #a123e1 0%, #9b19d9 50%, #5c129f 52.4%, #25044f 100%);
		box-shadow: inset 0px 3px 2px #e477ff, inset 0px -2px 3px #9e00ff;
	}

	// .header-slot__button-home

	&__button-home {
		position: relative;
		width: rem(36);
		height: rem(36);
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 11px;
			height: 18px;
			z-index: 5;

			background-image: url("@img/icons/arrow.svg");
			background-position: center;
			background-size: 12px 20px;
			background-repeat: no-repeat;

			filter: drop-shadow(0px 1px 1px rgba(132, 0, 214, 0.71));

			transition: all 0.3s ease 0s;
		}
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			border-radius: 50%;

			background-image: radial-gradient(74.86% 81.94% at 44.44% 13.89%, #ffffff 0%, #f0cdfc 100%);
			box-shadow: 0px 0px 0px 1px #300351, 0px 1px 0px 1px #bb5bed, inset 0px -2px 1px rgba(255, 255, 255, 0.5),
				inset 0px -3px 4px #d393e8;

			transition: all 0.3s ease 0s;
		}

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		transition: transform 0.3s ease 0s;
		&:active {
			transform: translateY(2px);
		}
	}

	// .header-slot__score-box

	&__score-box {
	}
}

//========================================================================================================================================================
.slot {
	// .slot__body

	&__body {
		position: relative;
		min-height: 100vh;
	}

	&__title {
		position: absolute;
		top: 100px;
		left: 50%;
		transform: translateX(-50%);
		width: 300px;
		img {
			width: 100%;
		}
		@media (max-height: em(750)) {
			top: 70px;
		}
		@media (max-height: em(600)) {
			top: 65px;
			width: 150px;
		}
	}

	&__game {
		display: flex;
		align-items: center;
	}

	// .slot__box

	&__box {
		height: 100vh;
		width: 100vw;
		position: relative;
		display: flex;
		margin: 0 auto;
	}

	// .slot__cont

	&__cont {
		position: relative;
		flex: 1 1 auto;

		display: flex;
		flex-direction: column;

		row-gap: rem(20);
		z-index: 2;
	}
}

.controls-slot {
	position: relative;
	display: flex;
	align-items: flex-end;
	min-height: 80px;

	// .controls-slot__body

	&__body {
		position: fixed;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;

		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 20px;

		padding-inline: rem(30);
		padding-bottom: rem(10);
		@media (min-width: em(600)) and (min-height: em(600)) {
			bottom: 50px;
		}
		@media (max-height: em(750)) {
			bottom: 10px;
			row-gap: 10px;
		}
	}

	// .controls-slot__button-spin

	&__button-spin {
		position: relative;
		width: rem(115);
		height: rem(115);

		background-image: url("@img/icons/arrows-circle.png");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		&:active {
			transform: scale(0.9);
		}
		&._hold {
			opacity: 0.7;
			pointer-events: none;
		}
		@media (max-height: em(700)) {
			width: rem(90);
			height: rem(90);
		}
	}

	&__max-bet {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 170px;
		height: 75px;

		background-image: linear-gradient(180deg, #fcfdfb 0%, #bcb1c6 100%);
		box-shadow: 0px 4px 0px #796d7c, 0px 6px 0px 2px #27013f, inset 0px 6px 3px rgba(255, 255, 255, 0.77);
		border-radius: 40px;

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		transition: transform 0.3s ease 0s;
		p {
			font-weight: 900;
			font-size: 24px;
			line-height: math.div(29, 24);
			text-transform: uppercase;

			color: #321448;
		}
		&:active {
			transform: scale(0.9);
		}
		&._hold {
			opacity: 0.7;
			pointer-events: none;
		}
		@media (max-height: em(700)) {
			width: 150px;
			height: 65px;
			p {
				font-size: rem(20);
			}
		}
	}
}

//========================================================================================================================================================
#slot1 {
	flex: 1 1 auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
#reels1 {
	position: relative;
	display: flex;
	justify-content: center;
	width: 90vw;
	height: calc((3 / 3) * 100vw);
	max-height: 88vw;
	max-width: calc(2.2 * (90vh - 50px));

	background-color: rgba(37, 27, 53, 0.7);
	border: 1px solid #ffffff;
	border-radius: 30px;
}

.reel1 {
	position: relative;
	overflow: hidden;
	z-index: 5;
	width: 33%;
	height: 100%;

	.icons {
		position: relative;
		z-index: 3;
		text-align: center;
		padding-top: rem(10);
		padding-inline: 5px;

		img {
			position: relative;
			width: calc(100% - 5px);
			margin: -3px 0 15px -3px;
			height: auto;

			transform: translate3d(0, 0, 0);
		}
	}
}

#slot1.inverted .reel {
	transform: scaleY(-1);
}

#slot1.inverted .reel > .icons > img {
	transform: scaleY(-1);
}
//====================================================================================================
@keyframes no-money {
	100% {
		color: #ff5900;
		transform: scale(1.1);
	}
}
@keyframes delete-money {
	100% {
		color: #ff6f00;
		transform: translateY(3px);
	}
}
@keyframes add-money {
	100% {
		color: #ddf12a;
		transform: translateY(-3px);
	}
}

@keyframes jump_icon {
	0%,
	69% {
		transform: translate(0, 0);
	}
	77% {
		transform: translate(0, -10px);
	}
	80% {
		transform: translate(0px, 0px);
	}
	82% {
		transform: translate(0px, -6px);
	}
	85% {
		transform: translate(0px, 0px);
	}
	87% {
		transform: translate(0px, -2px);
	}
	90% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes scale_icon {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}
@keyframes rotate_icon {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
@keyframes rotate_icon-2 {
	0% {
		transform: rotate(0deg);
		right: 0;
	}
	70% {
		transform: rotate(-360deg);
		right: 100px;
	}
	100% {
		transform: rotate(0deg);
		right: 0;
	}
}

@keyframes btn {
	0%,
	92%,
	100% {
		transform: translateZ(0);
		filter: drop-shadow(0 0 0 #002263);
	}
	96% {
		transform: translateZ(30px);
		filter: drop-shadow(0 0 10px #175cdd);
	}
}

@keyframes btn-anim-1 {
	0%,
	88%,
	100% {
		transform: rotateY(0);
	}
	94% {
		transform: rotateY(-180deg);
	}
}

@keyframes btn-anim-2 {
	0%,
	80%,
	100% {
		transform: rotate(0);
	}
	82% {
		transform: rotate(-90deg);
	}
	86% {
		transform: rotate(-180deg);
	}
	90% {
		transform: rotate(-270deg);
	}
	94% {
		transform: rotate(-360deg);
	}
}
